/* Os dados sensíveis de conexão ao banco de dados estão num arquivo oculto
que não é enviado ao Github por segurança. Para que consiga executar corretamente 
as funções de conexão e rotas das APIs, instale o pacote dotenv executando "npm install dotenv".
Depois crie um arquivo .env exatamente onde este arquivo "pg.env.example" se encontra e cole o bloco
de texto abaixo, substituindo pelos dados reais. Mas me peçam antes! */

PGUSER=seu_usuario
PGHOST=seu_host
PGDATABASE=seu_banco_de_dados
PGPASSWORD=sua_senha
PGPORT=5432
PORT=3000